body{
    margin:0;
    padding:0;
    font-family: "Roboto",arial,sans-serif;
    background-image: url("images/body/body_bg.png");
    width: 100vw;000
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Bounce at the top */
    }
    50% {
      transform: translateY(-5px); /* Bounce up */
    }
  }

a{
    font-weight: bold;
    color:white;
  }
h1{
    font-family: 'Exo', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 20px;
}

.filler{
    display: flex;
    width: 100vw;
    justify-content: center;
    border-bottom: 2px solid #DEDEDE;
    background-color: #F5F5F5;
    align-items: center;
}

.filler-logo{
    height: 45px;
    padding: 10px;
    border-left: 2px solid #DEDEDE;
}

/* selected page */
.filler-logo1{
    box-shadow: -5px 0 8px -4px rgba(45, 45, 45, 0.8), 10px 0 8px -4px rgba(45, 45, 45, 0.5);
    background-color: white;
}

.filler-logo2{
    border-left: none;
}

.filler-logo3{
    border-right: 2px solid #DEDEDE;
}

.filler-logo2:hover, 
.filler-logo3:hover{
    animation: bounce 300ms ease-in-out;
    cursor: pointer;
}



.forums{
    padding: 6px;
}

.forums img:hover{
    cursor: pointer;
}

.forum-img1:hover + .forum-img2{
    opacity: 0.5;
}


.navbar{
    background-color: white;
    border-bottom: 2px solid #DEDEDE;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 900px;
    
}


.navbar-container{
    background-color: white;
}


.navbar-element{
    /* padding: 5px 20px; */
    padding-top: 5x;
    width: 100%;
    height: 70px;
    text-align: center;
}
.navbar-element:hover{
    cursor: pointer;
}

.navbar-element:hover p{
    color: white;
}



.navbar-element img{
    height: 30px;
    color:gray;
}

.navbar-element p{
    margin-top: 5px;
    font-size: small;
    text-align: center;
    color: #919191;;
}

.navbar-element-grey{
    box-shadow: 0 5px 0 0 #919191;
    background-color: #919191;
    border-radius: 0 0 0 10px;
}

.navbar-element-grey p{
    color: white;
}
.navbar-element-red{
    box-shadow: 0 5px 0 0 #E3350D;
}
.navbar-element-red:hover{
    background-color: #E3350D;
    transition: ease-in-out 300ms;
    color: white;
}   


.navbar-element-orange{
    box-shadow: 0 5px 0 0 #EE6B2F;
}
.navbar-element-orange:hover{
    background-color: #EE6B2F;
    transition: ease-in-out 300ms;
    color: white;
}   

.navbar-element-yellow{
    box-shadow: 0 5px 0 0 #E6BC2F;
}
.navbar-element-yellow:hover{
    background-color: #E6BC2F;
    transition: ease-in-out 300ms;
    color: white;
}  


.navbar-element-green{
    box-shadow: 0 5px 0 0 #4DAD5B;
}
.navbar-element-green:hover{
    background-color: #4DAD5B;
    transition: ease-in-out 300ms;
    color: white;
}  

.navbar-element-lblue{
    box-shadow: 0 5px 0 0 #30A7D7;
}
.navbar-element-lblue:hover{
    background-color: #30A7D7;
    transition: ease-in-out 300ms;
    color: white;
}  

.navbar-element-dblue{
    box-shadow: 0 5px 0 0 #1B53BA;
    border-radius: 0 0 10px 0;
    overflow: hidden;
}
.navbar-element-dblue:hover{
    background-color: #1B53BA;
    transition: ease-in-out 300ms;
    color: white;
}  

.login-search{
    display: flex;
    flex-direction: column;
    width: 60px;
    position:fixed;
    top: 250px;
    left: 15.1%;
    border-left: none;

}
.login-search:hover{
    cursor: pointer;
}

.login-search .login-button{
    background-color: #54B564;
    height: 100px;
    clip-path: polygon(0% 0%, 70% 0, 100% 16%, 100% 100%, 0% 100%);
}


.login-search img{
    height: 30px;
    margin: 10px 15px;
    margin-bottom: -9px;
}

.login-button img{
    margin-top: 25px;
}
.login-search p{
    font-size: x-small;
    color: white;
    text-align: center;
}

.search-button{
    background-color: #616161;
    height: 50px;
    clip-path: polygon(0 0, 58% 0, 100% 0, 100% 86%, 60% 86%, 43% 100%, 0 100%);
}

.main-container{
    margin:0 auto;
    width: 70%;
    background-image: url(images/body/container_bg.png);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-container{
    margin-top: 100px;
    background-color: white;
    width: 68%;
    margin: 10px auto;
}

.body-cards-container{
    width: 100vw;
}

.cards{
    width: 900px;
    margin:0 auto;
    padding-top: 30px;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 500px) {
    .navbar , .filler{
        display: none;
    }
    .cards , .cards-left-down{
        flex-direction: column;
    }
    .card{
        width: 280px;
    }
}
.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.card:hover{
    cursor: pointer;
    animation: bounce 0.25s;

}
.card-img img{
    width: 100%;
    margin-bottom: -5px;
}
.card-content{
    padding: 10px 30px;
    margin-top: 0;
    background-color: #E6BC2F;
}

.card-content p{
    font-size: 0.85rem;
}
.cards-left-up{
    width: 600px;
}
.cards-left-up:hover{
    .card-content{
        background-color:#DAA31C;
    }
}

.cards-left-down{
    display: flex;
}

.cards-left-down1 .card-content{
    background-color: #EE6B2F;
}
.cards-left-down1:hover{
    .card-content{
        background-color: #DA471C;}
}

.cards-left-down2 .card-content{
    background-color: #C7AA79;
}
.cards-left-down2:hover{
    .card-content{
        background-color: #af8c51;}
}

.cards-left-down1, .cards-left-down2{
    width: 280px;
} 

.cards-left-down1 h1, .cards-left-down2 h1{
    font-size: 20px
}

.cards-right1, .cards-right2, .cards-right3{
    width: 280px;
}

.cards-right1{
    height: 20%;
    background-image: url("images/card-pictures/sv045-preview-cards-1-169-en.png");
    align-items: flex-end;
}


.cards-right1 .card-content{
    background-color: #313131;
    width: 40%;
}
.cards-right1:hover{
    .card-content{
        background-color: #232323;}
}
.cards-right2 .card-content{
    background-color: #1B53BA;
}

.cards-right2:hover{
    .card-content{
        background-color: #15459c;}
}
.cards-right3 .card-content{
    background-color: #30A7D7;
}
.cards-right3:hover{
    .card-content{
        background-color: #22789a;}
}


.featured-pokemon{
    margin-top: 30px;
}

.featured-pokemon-heading{
    background-color: #232323;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 180px;
    height: 45px;
    padding: 0.15px 20px;
}

.featured-container-container{
    display: flex;
    justify-content: center;
}
.featured-heading-container{
    width: 68%;
}


.featured-pokemon-heading h1{
    color: #919191;
}

.featured-grids{
    display: flex;
    border-collapse: collapse;
    align-items: flex-start;
}

.feature{
    width: 250px;
    border: 2px solid #232323;
    /* height: 380px; */
    /* border: 2px solid red */
}

.feature-img{
    background-color:#525252;
    /* width: fit-content; */
    padding-bottom: 0;
}

.feature-img img{
    width: 250px;
    opacity: 0.5;
}

.feature-content{
    background-color: #313131;
    height: 60px;
    padding: 10px;
    border: none;
}

.feature-content h1{
    height: 250;
    margin: 0;
}

.features-left, .features-right{
    display: flex;
    align-items: center;
}

.feature-score h4, .feature3 h4{
    height: 0;
    margin: 0;
    font-size: 100px;
    opacity: 0.35;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

.feature3 {
    width: 326px;
}

.feature3 .feature-img {
    width: 326px;
}


.feature3 .feature-img{
    position: relative;
    height: 254px;

}

.feature3 .feature-img img{
    position: absolute;
    top:-40px;
    width: 300px;
    opacity: 1;
}

.feature3 .feature-content{
    height: auto;
}


.feature-name-score{
    display: flex;
    justify-content: space-between;
}

.feature-features{
    display: flex;
    flex-direction: column;
}

.feature-features p{
    color: white;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

.feature-types p{
    padding: 3px 5px;
    border-radius: 3px;
    margin-left: 5px;
}
.type1{
    background-color: rebeccapurple;
}
.type2{
    background-color: rgb(90, 157, 179);
}

.feature-r1, .feature-r2{
    display: flex;
    align-items: center;
}

.feature-types{
    display: flex;
    align-items: center;
}
.feature-types {
    margin-left: 40px;
}
.feature-abilities{
    margin-left: 22px;
}


.explore-heading-container{
    width: 68%;
}
.explore-more-container{
    display: flex;
    justify-content: center;
}

.explore-more{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    float: right;
    background-color: #313131;
    border-radius: 5px;
    font-size: large;
    padding:10px 20px;
    border:none;
}

.explore-more:hover{
    background-color:#1c1c1c;
    cursor: pointer;
}


.new{
    width: 68%;
    background-color: white;
    display: flex;
    margin:10px auto;
    padding-bottom: 200px;
    margin-bottom: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new .card{
    width: 280px;
}

.new .card-content p{
    color:#616161;
    font-size: 15px;
}
.new-col1{
margin-top: 60px;
}

.new-col11 .card-content{
    background-color: #313131;
}
.new-col11:hover{
    .card-content{
        background-color: #201f1f;}
}
.new-col12 .card-content{
    background-color: #FB91C5;
}
.new-col12:hover{
    .card-content{
        background-color: #c36b96;}
}
.new-col12 .card-content p{
    color: #C3005B;
}
.new-col21 .card-content{
    background-color: #30A7D7;
}
.new-col21:hover{
    .card-content{
        background-color: #268ab1;}
}
.new-col21 .card-content p{
    color: black;
}
.new-col22 .card-content{
    background-color: #1B53BA;
}
.new-col22:hover{
    .card-content{
        background-color: #154397;}
}
.new-col22 .card-content p{
    color: #30A7D7;
}
.new-col31 .card-content{
    background-color: #E3350D
}
.new-col31:hover{
    .card-content{
        background-color: #c32f0e;}
}

.new-col32 .card-content{
    background-color: #aa936c;
}
.new-col32:hover{
    .card-content{
        background-color: #998561;
    }
}

.new-col32 .card-content p{
    color: #7C6337;
}

.new-col3{
margin-top: 30px;
}

.new-col33 .card-head{
    background-color: #EE6B2F;
    padding-left: 20px;
}



.new-centre h1{
    color:#919191;
    font-size: 30px;
    padding: 10px;
}

/* .footer{
    background-color: #1F1F1F;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} */

footer{
    background-color: #1F1F1F;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
}

.footer-signup{
    display: flex;
    margin-top: 20px;
}

.footer-signup h2{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;

}

.footer-signup input[type="email"]{
    width: 100%;
}

.footer-signup input, .footer-signup select{
    padding: 13px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 150px;
}

.footer-signup button{
    background-color: #888888;
    padding: 18px;
    margin: 5px;
    width: 45%;
    border: none;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}

.signup-checklist{
    margin-left: 80px;
    margin-top: 30px;

}
input[type="checkbox"]{
    height: 30px;
    width: 30px;
}
.signup-checklist p{
    color:white;
    font-size: medium;
    margin: 0px;
}

.checklist-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logos{
    display: flex;
    margin-top: 50px;
}

.footer-logo-c1 p{
    color: white;
    margin-bottom:2px;
    font-size: smaller;
}

.footer-logo-c1 p:hover{
    cursor: pointer;
}

.footer-logo-c3{
    color: white;
    margin-bottom: 2px;
    font-size: xx-small;
}

.footer-logo-c1, .footer-logo-c2, .footer-logo-c3{
    padding-left: 20px;
    margin-left: 10px;
}

.footer-logo-c2, .footer-logo-c3{
    border-left: 1px solid gray;
}

.footer-c3-links p:hover{
    text-decoration: underline;
    cursor: pointer;
}







